.card {
  display: flex;
  height: 360px;
  width: 360px;

  position: relative;
  overflow: hidden;
}

.card__info,
.card__hover {
  position: absolute;
  inset: 0;
}

.card__additional {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  padding: 15px 0 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 0.2s;
  background-color: var(--white);
  transform: translateY(100%);
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--white);
}

.card:hover .card__hover {
  opacity: 1;
}

.card__hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: url("../assets/test-task-zoomed.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.2s;
  border: 15px solid var(--white);
}

.card__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 60px);
  padding: 15px 32px;
  background-color: var(--text);
  color: var(--soft-gray);
  border: 1px solid var(--text);
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.2s ease-in;
  cursor: pointer;
}

.card__link--secondary {
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--text);
}

.card__link:hover {
  opacity: 0.8;
}

.card__link--secondary:hover {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
}

.card:hover .card__link {
  transform: translateX(0);
}

.card__link:not(:last-child) {
  margin-bottom: 15px;
}

.card-link--opener:hover + .card__additional {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.card__photo {
  display: inline-block;
  width: 100%;
  height: 265px;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: top;
  border: 1px solid var(--text);
}

.card__title {
  padding: 15px 0;
  font-weight: 400;
}
