.footer {
  background: var(--main-accent);
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 35px 0;
}

.footer__text {
  margin-right: 15px;
  font-size: 12px;
}

.footer__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.footer__link:hover {
  transform: scale(1.2);
}

.footer__icon {
  display: inline-block;
  height: 30px;
}
