* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
pre {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: var(--text);

  background-color: var(--soft-gray);
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

svg {
  height: 100%;
  fill: var(--text);
}
