.main {
  margin-bottom: 150px;
}

.section {
  margin-bottom: 45px;
}

.section__heading {
  display: flex;
  align-items: center;
  padding: 35px 0 25px;
}

.section__title {
  position: relative;
  flex: 1;
  font-size: 20px;
}

.section__title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--text);
}

.icon {
  display: inline-block;
  height: 30px;
  min-width: 40px;
  margin-right: 15px;
}

.section__content {
  padding-left: 55px;
}

.section__list-item {
  margin-bottom: 12px;
}

.section__link {
  position: relative;
}

.section__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: transparent;
  transition: all 0.3s;
}

.section__link:hover::after {
  width: 100%;
  background: var(--text);
}

.section__content--block {
  margin-bottom: 20px;
}
